# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store

# local env files
.local
.env.local
.env.development.local
.env.test.local
.env.production.local
.dev
.live_dev
.prod
.env
.env.auth
.env.assume

# ide
.vs/
.vscode

# debug
npm-debug.log*
*.log

# next.js
/.next/
