.selected-champs-container {
  text-align: center;
}

.champs-text {
  font-size: 25px;
  font-weight: bold;
}

.selected-characters-image-container {
  margin-top: 20px;
  min-height: 90px;
}

.ability-average-table {
  margin: 20px auto 0 auto;
  table-layout: auto;
  width: 500px;
  font-weight: bold;
}
