.character-table {
  border-spacing: 0;
  border: 1px solid #ededed;
  margin: auto;
  text-align: center;
  font-weight: bold;
}

.character-table tr {
  cursor: pointer;
}

.character-table tr:last-child td {
  border-bottom: 0;
}

.character-table th,
.character-table td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid #ededed;
  position: relative;
}

.character-table th:last-child,
.character-table td:last-child {
  border-right: 0;
}

.character-table tr:nth-child(even) {
  background-color: #edf5ff;
}

.character-table th::before {
  position: absolute;
  right: 15px;
  top: 16px;
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.character-table th.sort-asc::before {
  border-bottom: 5px solid #22543d;
}

.character-table th.sort-desc::before {
  border-top: 5px solid #22543d;
}

.character-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
}

.selected-row-color {
  background-color: #00ff00 !important;
}
