.App {
  text-align: center;
}

.clear-button {
  background-color: #ff0000;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 2px 30px 2px;
  border-radius: 12px;
}

.show-champs-container {
  margin-top: 15px;
}
